@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,300;1,400;1,800&display=swap');



* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    color: white;
    background-color: #1f242d;
}
.info-page{
    /* min-height: 100vh; */
    padding: 9rem 19% 2rem;

}
.info-content{
    border-bottom: .001px solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.heading{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.2rem ;
    color: white;

}
.header {
    border-bottom: .000001mm solid #323946;
}
 p{
    font-size: 1.7rem;
    word-spacing: 3px;
}



.faq{
    width: 100%;
    padding: 0.7rem 3rem;
    cursor: pointer;
    border-radius: 24px;

    border: .001px solid white;
    margin: 5rem 0rem;
}
.questions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.questions h3{
    font-size: 2rem;
}

.answer li{
    margin-left: 3rem ;
    line-height: 3rem;
    list-style-type: circle;
    color: white;
    font-size: 1.7rem;
    
}
.answer li,a:hover{
    color:#0ef;
}
.answer{

    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
}
.faq.active .answer{
    max-height: 700px;
    animation: fade 1s ease-in-out;

}
.faq.active svg{
    transform: rotate(180deg);

}
svg{
    transition: transform .5 ease-in;
}
@keyframes fade { 
from { 
    opacity: 0; transform: translateY(-10px); 
 } 
 to { 
     opacity: 1; transform: translatey(0px);
}
}
.fab-container{

    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    
    }
    .iconbutton{

        width:50px;
        height:50px;

          background-color: #0ef;
          box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
        border: 1px solid  #0ef;
        border-radius: 100%;
        }
        .iconbutton:hover{
             background-color: #1f242d;
            }
        
        .button{
        display: none;
        width:10px;
        height:10px;
        }
        .iconbutton i{
            display:flex;
            align-items:center;
            justify-content:center;           
            height: 100%;
            color: #1f242d;
            font-size: 1.5rem;
            }
            .iconbutton i:hover{
                color: #0ef;
            }
            .options{
                list-style-type: none;
                position:absolute;
                bottom: 10px;
                right:0;    
                }
.options li{
    display:flex;
    justify-content:flex-end;
    padding:5px;
    }
    .btn-label{
        font-size: 1.2rem;
        margin-right:10px;
        align-self: center;
        user-select:none;
        color:white;
        border-radius: 3px;
        
        }

.wrapper {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 350px;
}
.wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube{
    /* margin-bottom: rem; */
    padding-bottom: 2rem;
    width: 100%;
    /* border-bottom: .001px solid white; */
}
.youtubelist{
    margin-top: 3rem ;
    margin-left: 2rem;
}
.youtubelist li{
    word-spacing: 3px;
    line-height: 3rem;
    list-style-type: disc;
    color: white;
    font-size: 1.7rem;
}
@media (max-width: 720px) {

   
    .fab-container{
        display: none;
        
        }
        .info-page{
            min-height: 100vh;
            padding: 9rem 9% 2rem;
        
        }
        .wrapper iframe{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .heading{
            font-size: 2.8rem;
        
        }
        p{
            font-size: 1.4rem;
            word-spacing: 1.2px;
        }
        .youtubelist li{
            font-size: 1.4rem;
            word-spacing: 1.2px;
        }
        .answer li{
            
            margin-top: 10px;
            margin-bottom: 10px;
            
        }
        
}
h3{
    padding: 6px 0px;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
h4{
    padding-top: 2rem;
    text-align: left;
    font-size: 3rem;
    color: white;
}
h6{
    font-size: 1.6rem;
    margin-top: .2rem;
    margin-bottom: 2rem;
    color: white;
    letter-spacing: .5px;
}